<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>MoWizz</title>
    <link rel="stylesheet" type="text/css" href="~/css/materialize.css">
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div style="width: 200px; background-image: url(/Images/demo-image-02.jpg); z-index: 10; position: fixed; left: 0px; top: 0px; height: 100%;">
        </div>*@
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large teal sidenav-trigger" data-target="slide-out">
            <i class="large material-icons">menu</i>
        </a>
    </div>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="~/Images/bg-signup.jpg">
                </div>

                <a href="#name"><span class="white-text name">@System.Web.HttpContext.Current.User.Identity.Name</span></a>
            </div>
        </li>
        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
        <li><a href="/user/watchlist"><i class="material-icons">rate_review</i>Watchlist</a></li>
        <li><a class="waves-effect" href="/movie/search"><i class="material-icons">search</i>Search</a></li>
        <li><a class="waves-effect" href="/user/recommendations"><i class="material-icons">face</i> Recommended</a></li>
        <li><a class="waves-effect" href="/movie/popular"><i class="material-icons">trending_up</i> Popular</a></li>
        <li><a class="waves-effect" href="/account/logoff"><i class="material-icons">power_settings_new</i> Logout</a></li>
        <li>
            <a href=""><span class="black-text name">Location: @Session["Location"]</span></a>
            <a href=""><span class="black-text name">Forecast: @Session["Forecast"]</span></a>
        </li>
    </ul>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/materialize.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, 'left');
        });

        // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
        // var collapsibleElem = document.querySelector('.collapsible');
        // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

        // Or with jQuery

        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
