@model dmMoWizz.Models.ViewModels.HomePageViewModel
<div class="navbar-fixed black">
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field">
                                    <i id="searchButton" class="material-icons prefix" style="color:white">search</i>
                                    <textarea id="icon_prefix2" style="color:white" class="materialize-textarea"></textarea>
                                    @*<label for="icon_prefix2">Search movies</label>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="carousel carousel-slider center" style="height:500px">
    @foreach (var movie in Model.Popular.Take(5))
    {
        <div class="carousel-item white-text" style="filter:grayscale(100%); background-image:url(@movie.BackdropPath); background-size:cover; background-position:center">
            @*<p class="white-text">@movie.AverageRate</p>*@
        </div>
        <h2 style="background-color:#4db6ac; position:absolute; top:300px; left:50px" id="headline-title"></h2>
    }
</div>


@if (Model.Suggested != null && Model.Suggested.Count() > 0)
{
    <div class="section">
        <div class="row">
            <div class="col s10 offset-s1">
                <h5 style="color:#4db6ac">
                    Top suggested
                </h5>
                <div class="row">
                    @foreach (var movie in Model.Suggested.Take(4))
                    {
                        <div class="col s12 m3">
                            <div class="card" data-id="@movie.Id">
                                <div class="card-image">
                                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                                    <span class="card-title">@movie.Title</span>
                                    @if (!movie.AddedToWatchlist)
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" style="display:none" data-position="bottom" data-id="@movie.Id" data-tooltip="Remove from watchlist"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                    else
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id" style="display:none"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" data-position="bottom" data-tooltip="Remove from watchlist" data-id="@movie.Id"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                </div>
                                <div class="card-content">
                                    @*<p>@movie.Overview</p>*@
                                    <div class="valign-wrapper">
                                        <div class="col s2 ">
                                            <i class="material-icons" style="color:#4db6ac; font-size:1.5rem">thumb_up</i>
                                        </div>
                                        <div class="progress col s6 valign-wrapper" style="margin-top:15px">
                                            <div class="determinate" style="width: @movie.PersonalRate"></div>
                                        </div>
                                        <div class="col s2 offset-s1">
                                            <span style="font-weight:bold; color:#4db6ac">@movie.PersonalRate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @foreach (var movie in Model.Suggested.Skip(4).Take(4))
                    {
                        <div class="col s12 m3">
                            <div class="card" data-id="@movie.Id">
                                <div class="card-image">
                                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                                    <span class="card-title">@movie.Title</span>
                                    @if (!movie.AddedToWatchlist)
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" style="display:none" data-position="bottom" data-id="@movie.Id" data-tooltip="Remove from watchlist"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                    else
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id" style="display:none"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" data-position="bottom" data-tooltip="Remove from watchlist" data-id="@movie.Id"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                </div>
                                <div class="card-content">
                                    @*<p>@movie.Overview</p>*@
                                    <div class="valign-wrapper">
                                        <div class="col s2 ">
                                            <i class="material-icons" style="color:#4db6ac; font-size:1.5rem">thumb_up</i>
                                        </div>
                                        <div class="progress col s6 valign-wrapper" style="margin-top:15px">
                                            <div class="determinate" style="width: @movie.PersonalRate"></div>
                                        </div>
                                        <div class="col s2 offset-s1">
                                            <span style="font-weight:bold; color:#4db6ac">@movie.PersonalRate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row center-align" style="color:#4db6ac">
                    <i class="material-icons"
                       style="font-size:3rem; cursor:pointer" id="showMoreButton">expand_more</i>
                </div>
                <div id="moreMovies"></div>
            </div>
        </div>
    </div>
}
<div class="parallax-container" style="height:250px">
    <div class="parallax"><img src="/Images/godfather.jpg"></div>
</div>


@if (Model.Watchlist != null && Model.Watchlist.Count() > 0)
{
    <div class="section">
        <div class="row">
            <div class="col s10 offset-s1">
                <h5 style="color:#4db6ac">
                    Watchlist
                </h5>
                <div class="row">
                    @foreach (var movie in Model.Watchlist)
                    {
                        <div class="col s12 m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                                    <span class="card-title">@movie.Title</span>
                                    @*<a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Remove from watchlist"><i class="material-icons">add_to_queue</i></a>*@
                                </div>
                                <div class="card-content">
                                    @if (movie.Overview.Length > 150)
                                    {
                                        <p>@movie.Overview.Substring(0, 150) ...</p>
                                    }
                                    else
                                    {
                                        <p>@movie.Overview</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="parallax-container" style="height:250px">
    <div class="parallax"><img src="/Images/hungergames.jpg"></div>
</div>
@if (Model.Popular != null && Model.Popular.Count() > 0)
{
    <div class="section">
        <div class="row">
            <div class="col s10 offset-s1">
                <h5 style="color:#4db6ac">
                    Top picks
                </h5>
                <div class="row">
                    @foreach (var movie in Model.Popular.Take(4))
                    {
                        <div class="col s12 m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                                    <span class="card-title">@movie.Title</span>
                                    @if (!movie.AddedToWatchlist)
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" style="display:none" data-position="bottom" data-id="@movie.Id" data-tooltip="Remove from watchlist"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                    else
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id" style="display:none"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" data-position="bottom" data-tooltip="Remove from watchlist" data-id="@movie.Id"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                </div>
                                <div class="card-content">
                                    @if (movie.Overview.Length > 150)
                                    {
                                        <p>@movie.Overview.Substring(0, 150) ...</p>
                                    }
                                    else
                                    {
                                        <p>@movie.Overview</p>
                                    }
                                    <div class="center-align">
                                        <div class="valign-wrapper">
                                            <i class="material-icons" style="color:#4db6ac; font-size:1.5rem">star</i>
                                            <span style="font-weight:bold; color:#4db6ac">@movie.AverageRate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @foreach (var movie in Model.Popular.Skip(4).Take(4))
                    {
                        <div class="col s12 m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                                    <span class="card-title">@movie.Title</span>
                                    @if (!movie.AddedToWatchlist)
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" style="display:none" data-position="bottom" data-id="@movie.Id" data-tooltip="Remove from watchlist"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                    else
                                    {
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id" style="display:none"><i class="material-icons">add_to_queue</i></a>
                                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" data-position="bottom" data-tooltip="Remove from watchlist" data-id="@movie.Id"><i class="material-icons">remove_from_queue</i></a>
                                    }
                                </div>
                                <div class="card-content">
                                    @if (movie.Overview.Length > 150)
                                    {
                                        <p>@movie.Overview.Substring(0, 150) ...</p>
                                    }
                                    else
                                    {
                                        <p>@movie.Overview</p>
                                    }
                                    <div class="center-align">
                                        <div class="valign-wrapper">
                                            <i class="material-icons" style="color:#4db6ac; font-size:1.5rem">star</i>
                                            <span style="font-weight:bold; color:#4db6ac">@movie.AverageRate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div id="modal" class="modal">
    <div class="modal-content" id="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>  
</div>

<script>

    $(document).ready(function () {
        $('.tooltipped').tooltip();
        $('.card').click(function (e) {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "POST",
                url: "/movie/summary?movieid=" + id,
                data: id,
                success: function (response) {
                    //console.log($('#modal-content'))
                    //$('#modal').css("background-image", "url(http://image.tmdb.org/t/p/w500//fzfe2srDBAQLfvlYRpAACvwe39X.jpg)");
                    //$('#modal').css("background-size", "cover");
                    //$('#modal').css("background-position", "center");

                    $('#modal-content').html(response);
                    $('#modal').modal();
                    $('#modal').modal('open');
                },
            });
        })
        $('.addtowatchlist').click(function () {
            var element = $(this);
            var id = $(this).attr("data-id")
            $.ajax({
                type: "POST",
                url: "/user/addtowatchlist?id=" + id,
                data: id,
                success: function () {
                    element.fadeOut();
                    element.next().fadeIn();
                    M.toast({ html: 'Added to watchlist.' })
                },
            });
        });
        $('.removefromwatchlist').click(function () {
            var element = $(this);
            var id = $(this).attr("data-id")
            $.ajax({
                type: "POST",
                url: "/user/removefromWatchlist?id=" + id,
                data: id,
                success: function () {
                    element.fadeOut();
                    element.prev().fadeIn();
                    M.toast({ html: 'Removed from watchlist.' })
                },
            });
        });
        $('.parallax').parallax();
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        });
        $('#showMoreButton').click(function () {
            $.ajax({
                url: "/home/moresuggestedmovies",
                type: 'GET',
                success: function (res) {
                    document.getElementById("moreMovies").innerHTML = res;
                    $('#showMoreButton').hide();
                }
            });
        });
        $('#searchButton').click(function () {
            var name = $('#icon_prefix2').val;
            $.ajax({
                url: "/movies/FindMovieByName?name=" + name,
                type: 'GET'
            });
        });
        autoplay();
    });

    function autoplay() {
        $('.carousel.carousel-slider').carousel('next');
        setTimeout(autoplay, 5000);
    };

</script>
