@model IEnumerable<dmMoWizz.Models.ViewModels.HomePageMovieViewModel>
<div class="row">
    @foreach (var movie in Model.Take(4))
    {
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                    <span class="card-title">@movie.Title</span>
                    @if (!movie.AddedToWatchlist)
                    {
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id"><i class="material-icons">add_to_queue</i></a>
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" style="display:none" data-position="bottom" data-id="@movie.Id" data-tooltip="Remove from watchlist"><i class="material-icons">remove_from_queue</i></a>
                    }
                    else
                    {
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id" style="display:none"><i class="material-icons">add_to_queue</i></a>
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" data-position="bottom" data-tooltip="Remove from watchlist" data-id="@movie.Id"><i class="material-icons">remove_from_queue</i></a>
                    }
                </div>
                <div class="card-content">
                    @*<p>@movie.Overview</p>*@
                    <div class="valign-wrapper">
                        <div class="col s2 ">
                            <i class="material-icons" style="color:#4db6ac; font-size:1.5rem">thumb_up</i>
                        </div>
                        <div class="progress col s6 valign-wrapper" style="margin-top:15px">
                            <div class="determinate" style="width: @movie.PersonalRate"></div>
                        </div>
                        <div class="col s2 offset-s1">
                            <span style="font-weight:bold; color:#4db6ac">@movie.PersonalRate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    @foreach (var movie in Model.Skip(4).Take(4))
    {
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="@movie.BackdropPath" style="object-fit: cover; object-position: center; height: 200px; width: 100%;">
                    <span class="card-title">@movie.Title</span>
                    @if (!movie.AddedToWatchlist)
                    {
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id"><i class="material-icons">add_to_queue</i></a>
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" style="display:none" data-position="bottom" data-id="@movie.Id" data-tooltip="Remove from watchlist"><i class="material-icons">remove_from_queue</i></a>
                    }
                    else
                    {
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped addtowatchlist" data-position="bottom" data-tooltip="Add to watchlist" data-id="@movie.Id" style="display:none"><i class="material-icons">add_to_queue</i></a>
                        <a class="btn-floating halfway-fab waves-effect waves-light btn tooltipped red accent-2 removefromwatchlist" data-position="bottom" data-tooltip="Remove from watchlist" data-id="@movie.Id"><i class="material-icons">remove_from_queue</i></a>
                    }
                </div>
                <div class="card-content">
                    @*<p>@movie.Overview</p>*@
                    <div class="valign-wrapper">
                        <div class="col s2 ">
                            <i class="material-icons" style="color:#4db6ac; font-size:1.5rem">thumb_up</i>
                        </div>
                        <div class="progress col s6 valign-wrapper" style="margin-top:15px">
                            <div class="determinate" style="width: @movie.PersonalRate"></div>
                        </div>
                        <div class="col s2 offset-s1">
                            <span style="font-weight:bold; color:#4db6ac">@movie.PersonalRate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('.addtowatchlist').click(function () {
            var element = $(this);
            var id = $(this).attr("data-id")
            $.ajax({
                type: "POST",
                url: "/user/addtowatchlist?id=" + id,
                data: id,
                success: function () {
                    element.fadeOut();
                    element.next().fadeIn();
                    M.toast({ html: 'Added to watchlist.' })
                },
            });
        });
        $('.removefromwatchlist').click(function () {
            var element = $(this);
            var id = $(this).attr("data-id")
            $.ajax({
                type: "POST",
                url: "/user/removefromWatchlist?id=" + id,
                data: id,
                success: function () {
                    element.fadeOut();
                    element.prev().fadeIn();
                    M.toast({ html: 'Removed from watchlist.' })
                },
            });
        });
    }
</script>